<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/thankyou.css">
        <title></title>
    </head>
    <body>
        <table class="table table-striped">
            <thead style ="background-color: #afafb3; color: #572e5e">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Permissions Group</th>
                    <th scope="col"></th>
                </tr>
            <thead>
            <tbody id="users">
            </tbody>
        </table>
        <form>
			<div class="form-group">
				<label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName"> 
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" id="lastName"> 
				<label for="lastName">Username</label>
				<input type="text" name="username" id="username" readonly> 
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" style="width: 500px"> 
			</div>
            <button type="submit" id="submit" class="btn btn-block btn-lg" style="background-color:#572e5e;color:#ffffff;">Submit</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="js/admin.js"></script>
    </body>
</html>


