<!DOCTYPE html>
<html style="background-color: #572e5e">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Hiring Procedure</title>
    </head>
    <body style="margin-left: 100px; margin-right: 100px; padding: 30px 30px 30px 30px; background-color: #e3e2e7;">
        <img src="assets/header.png" alt="header" class="responsive" style="width:100%;height:auto;"><br><br>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #572e5e;">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/introduction">New Client</a>
                <a class="nav-item nav-link active" href="/QBOtest">Interview Process<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/contracts">Contracts</a>
            </div>
        </nav> <br><br>
        <form name="form" action="/api/hiring" method="post">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" id="FirstName" name="FirstName">
                <label for="LastName">Last Name</label>
                <input type="text" id="LastName" name="LastName">
            </div>
            <div class="form-group">
                <label for="Email">Email Address</label>
                <input type="email" id="Email" name="Email">
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--<script src="js/hiring.js"></script>-->
    </body>
</html>


