<!DOCTYPE html>
<html style="background-color: #572e5e">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Quick Onboarding Form</title>
        <style>
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                outline: black;
                filter: brightness(0%);
            }
        </style>
    </head>
    <body style="margin-left: 100px; margin-right: 100px; padding: 30px 30px 30px 30px; background-color: #e3e2e7;">
        <div class="text-center" id="loading">
            <span class="spinner-border" role="status">
            </span>
            <span>Loading from Salesforce...</span>
        </div>
        <form name="form" id="introForm" style="display: none;" method="post">
            <div class="form-group" id="NameBox">
                <label for="FirstName" id="FirstNameBox">First Name</label>
                <input type="text" id="FirstName" name="FirstName">
                <label for="LastName" id = LastNameBox>Last Name</label>
                <input type="text" id="LastName" name="LastName">
            </div>
            <div class="form-group" id="CompanyBox"> 
                <label for="Company">Company Name</label>
                <input type="text" id="Company" name="Company">
            </div>
            <div class="form-group" id="EmailBox">
                <label for="Email">Email Address</label>
                <input type="email" id="Email" name="Email">
            </div>
            <div class="form-group" id="PhoneBox">
                <label for="Phone">Phone Number</label>
                <input type="text" id="Phone" name="Phone">
            </div>
            <div class="form-group"  id="ReferralBox">
                <label for="Referral">Whom can we thank for referring you?</label>
                <select id="Referral" name="Referral">
                </select>
                <div id="ReferralOther" style="display:none;">
                    <input type="text" name="ReferralOther">
                </div>
            </div>            
            <div class="form-group" id="ReferralLengthBox">
                <label for="ReferralLength">How long have you been working with them?</label>
                <input type="text" id="ReferralLength" name="ReferralLength">
            </div>
            <div class="form-group"  id="PreparerBox">
                <label for="Preparer">Who is your current tax preparer? (Optional)</label>
                <select id="Preparer" name="Preparer">
                </select>
                <div id="PreparerOther" style="display:none;">
                    <input type="text" name="PreparerOther">
                </div>
            </div>            
            <div class="form-group">
                <label for="questionnaire">Send this client a bookkeeping questionnaire?</label>
                <input type="checkbox" id="questionnaire" name="questionnaire" value="true">
            </div>
            <div class="form-group">
                <label for="Description">Notes</label>
                <textarea class="form-control" rows="2" id="Description" name="Description"></textarea>
            </div>
            <div id="validation"></div>

            <!-- CALENDARRR -->
            <div>
                <div><b>Select a date and time for a future zoom meeting!</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" name="laterDate" id="laterDate"> Choose date at a later time </label></div>
                <br>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" id="carouselBody">
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" id="carouselPrev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" id="carouselNext">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div id="selected"></div>
            <div id="incomplete" style="color:red"><b>Form Incomplete!!</b></div>
            <br>
            <input type="hidden" id="startEvent"></input>
            <button type="submit" id="submit" class="btn btn-block btn-lg" style="background-color:#572e5e;color:#ffffff;">
                <span id="submitStatus" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                <span id="buttonStatus">Submit</span>
            </button>
            <button type="button" class="btn btn-danger dismiss" data-toggle="modal" data-target="#uModal" data-index="${index}" data-name="${lead.Name}"></button>
        </form>


        <!-- questionnaire modal -->

        <div class="modal fade" id="uModal" tabindex="-1" role="dialog" aria-labelledby="uModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uModalLabel">Client Questionnaire</h5>
                        <textarea id="uDescription"></textarea>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="modalForm">
                            <input type="hidden" id="id">

                            <!-- BODY COPIED FROM QUESTIONNAIRE.EJS -->

		<div> <!--General-->
			<div class="form-group">
				<label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName"> 
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" id="lastName"> 
				<label for="companyName">Company Name</label>
				<input type="text" name="companyName" id="companyName"> 
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" style="width: 500px"> 
				<label for="phone">Phone</label>
				<input type="text" name="phone" id="phone"> 
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title"> 
			</div>
			<div class="form-group">Business Address
				<br>
				<label for="bizAddrStreet">Street</label>
				<input type="text" name="bizAddrStreet" id="bizAddrStreet" style="width: 500px">
				<br>
				<label for="bizAddrCity">City</label>
				<input type="text" name="bizAddrCity" id="bizAddrCity">
				<label for="bizAddrState">State</label>
				<select name="bizAddrState" id="bizAddrState">
                </select>
				<label for="bizAddrZip">Zip Code</label>
				<input type="text" name="bizAddrZip" id="bizAddrZip">
			</div>
			<div class="form-group">Mailing Address
				<br>
				<label><input type="checkbox" name="differentFromBizAddr" id="differentFromBizAddr">Different from business address?</label>
				<div id="mailAddr" class="form-group">
					<label for="mailAddrStreet">Street</label>
					<input type="text" name="mailAddrStreet" id="mailAddrStreet" style="width: 500px">
					<br>
					<label for="mailAddrCity">City</label>
					<input type="text" name="mailAddrCity" id="mailAddrCity">
					<label for="mailAddrState">State</label>
					<select name="mailAddrState" id="mailAddrState">
                    </select>
					<label for="mailAddrZip">Zip Code</label>
					<input type="text" name="mailAddrZip" id="mailAddrZip">
				</div>
			</div>
			<div class="form-group">
				<label for="website">Website URL</label>
				<input type="text" name="website" id="website" style="width: 500px"> 
			</div>
			<div class="form-group">
				<label for="industry">Industry</label>
				<select type="text" name="industry" id="industry"> 
                </select>
			</div>
		</div>


		<div> <!--Business-->
			<div class="form-group">
				<label for="state">What state is your company registered in?</label>
				<select name="state" id="state"> 
                </select>
			</div>
			<div class="form-group">
				<label for="bizClass">What is your business classification?</label>
				<select name="bizClass" id="bizClass">
                </select>
			</div>
			<div class="form-group">
				<label for="ownershipYear">What year did you form or take ownership of your primary business?</label>
					<select name="ownershipYear" id="ownershipYear"></select>
			</div>
			<div class="form-group">
				<label for="partnersYN">Do you have any partners, or shareholders?</label>
				<label><input value="Yes" type="radio" name="partnersYN" id="partnersYES">Yes</label>
				<label><input value="No" type="radio" name="partnersYN" id="partnersNO">No</label>
			</div>
				<div class="form-group" id="addPartnerNames">
					<table class="partnersNames">
                        <tbody id="partnersNames"></tbody>
					</table>
					<button type="button" id="addPartner" class="btn btn-sm">Add Partner</button>
				</div>
			<div class="form-group">
				<label for="moreCompaniesYN">Do you have more than one company?</label>
				<label><input value="Yes" type="radio" name="moreCompaniesYN" id="moreCompaniesYES">Yes</label>
				<label><input value="No" type="radio" name="moreCompaniesYN" id="moreCompaniesNO">No</label>
			</div>
			<div style="margin-left: 65px; border-left: 1px solid #572e5e;" class="form-group" id="otherCompanies">
				<div style="margin-left: 10px" class="form-group">
					<label for="companiesSeparateBooksYN">Does each company have its own set of books?</label>
					<label><input value="Yes" type="radio" name="companiesSeparateBooksYN" id="companiesSeparateBooksYES">Yes</label>
					<label><input value="No" type="radio" name="companiesSeparateBooksYN" id="companiesSeparateBookssNO">No</label>
				</div>
				<div style="margin-left: 10px" class="form-group">
					<label for="companiesSeparateAccountsYN">Does each company have its own set of bank accounts and credit cards?</label>
					<label><input value="Yes" type="radio" name="companiesSeparateAccountsYN" id="companiesSeparateAccountsYES">Yes</label>
					<label><input value="No" type="radio" name="companiesSeparateAccountsYN" id="companiesSeparateAccountsNO">No</label>
				</div>
			</div>
		</div>


		<div> <!--ACCOUNTING-->
			<div class="form-group">
				<label for="Volume">What is the volume of transactions per month? Feel free to estimate.</label>
				<input type="text" name="Volume" id="Volume"> 
			</div>

			<div class="form-group">
				<label for="AnnualRevenue">What is your annual revenue volume? Feel free to estimate.</label>
				<input type="text" name="AnnualRevenue" id="AnnualRevenue"> 
			</div>

			<div class="form-group">
				<label for="AccountingYear">Do you do your accounting on a calendar year or fiscal year?</label>
                <select name="AccountingYear" id="AccountingYear">
                    <option value="Calendar Year" type="checkbox">Calendar Year</option> 
                    <option value="Fiscal Year" type="checkbox">Fiscal Year</option>
                    <option value="I'm not sure" type="checkbox">I'm not sure</option>
                </select>
			</div>

			<div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYcontainer" class="form-group">
				<div style="margin-left: 10px">
					<label for="FiscalYear">What is the beginning and ending date of your company's fiscal year?</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control datepicker" id="FiscalYear">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
				</div>
			</div>

			<div class="form-group">
				<label for="Cash">Is your company cash or accrual basis?</label>
				<select type="text" name="Cash" id="Cash"> 
                    <option value="Cash">Cash</option>
                    <option value="Accrual">Accrual</option>
                    <option value="I'm not sure">I'm not sure</option>
                </select>
			</div>

			<div class="form-group">
				<label for="FinancialReports">How often do you need to, or would like to, review financial reports? OR How frequently would you like to view current financial reports?</label>
				<select name="FinancialReports" id="FinancialReports">
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Bi-Monthly">Bi-Monthly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Bi-Yearly">Bi-Yearly</option>
                    <option value="Yearly">Yearly</option>
                </select>
			</div>

			<div class="form-group">
				<label for="DateOfStart">When would you like us to begin working?</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control datepicker" id="OtherStatementCycle${o}">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
			</div>
		</div>

		<div> <!--ACCOUNTING SERVICE-->
			<div class="form-group">
				<label for="currentBookkeepingMethod">How do you currently maintain your books?</label>
				<input type="text" name="currentBookkeepingMethod" id="currentBookkeepingMethod">
			</div>

			<div class="form-group">
				<label for="externalBookkeeperYN">Do you work with an external bookkeeper/accountant?</label>
				<input value="Yes" type="radio" name="externalBookkeeperYN" id="externalBookkeeperYES"> Yes
				<input value="No" type="radio" name="externalBookkeeperYN" id="externalBookkeeperNO"> No
			</div>
				<!--IF YES (to externalBookkeeperYN)-->
				<div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="externalBookkeeper" class="form-group">
					<div style="margin-left: 10px">
						<label for="externalBookkeeperCompany">Bookkeeping/Accounting Company</label>
						<input type="text" name="externalBookkeeperCompany" id="externalBookkeeperCompany"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperName">Bookkeeper/Accountant Name</label>
						<input type="text" name="externalBookkeeperName" id="externalBookkeeperName"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperLocation">Bookkeeper/Accountant Location</label>
						<input type="text" name="externalBookkeeperLocation" id="externalBookkeeperLocation"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperFutureRole">What role will they continue to play in this process?</label>
						<input type="text" name="externalBookkeeperFutureRole" id="externalBookkeeperFutureRole"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperInformedYN">Have you informed them that you are meeting with us?</label>
                        <label><input value="Yes" type="radio" name="externalBookkeeperInformedYN" id="externalBookkeeperInformedYES">Yes</label>
                        <label><input value="No" type="radio" name="externalBookkeeperInformedYN" id="externalBookkeeperInformedNO">No</label>
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperLikeDislike">What do you like and don't like about your current bookkeeper/accountant?</label>
						<textarea class="form-control" rows="2" id="externalBookkeeperLikeDislike"></textarea>
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperReachOutYN">Are we able to reach out to them to ask questions if necessary?</label>
                        <label><input value="Yes" type="radio" name="externalBookkeeperReachOutYN">Yes</label>
                        <label><input value="No" type="radio" name="externalBookkeeperReachOutYN">No</label>
					</div>
                    <div id="externalBookkeeperReachOut" class="form-group">
                        <label>Please provide their email and/or phone number:</label>
						<label for="externalBookkeeperEmail">Email</label>
                        <input type="email" name="externalBookkeeperEmail" id="externalBookkeeperEmail">
						<label for="externalBookkeeperPhone">Phone</label>
                        <input type="text" name="externalBookkeeperPhone" id="externalBookkeeperPhone">
                    </div>
					<div style="margin-left: 10px">
						<label for="directOwnershipOfBooksYN">Do you have direct ownership of your books and/or accounting files?</label>
                        <label><input value="Yes" type="radio" name="directOwnershipOfBooksYN" id="directOwnershipOfBooksYES">Yes</label>
						<label><input value="No" type="radio" name="directOwnershipOfBooksYN" id="directOwnershipOfBooksNO">No</label>
					</div>
				</div>

				<div class="form-group">
					<label for="newBookkeeperReason">Why do you feel that you are ready for a (new) bookkeeper now?</label>
					<textarea class="form-control" rows="2" id="newBookkeeperReason"></textarea>
				</div>

				<div class="form-group">
					<label for="currentbookkeepingTimeSpent">How many hours per month are being spent on your bookkeeping?</label>
					<input style="width: 40px" type="text" name="currentbookkeepingTimeSpent" id="currentbookkeepingTimeSpentHours">
					hours per month
				</div>

				<div class="form-group">
					<label for="currentbookkeepingSoftware">What accounting software are you currently using, if any?</label>
					<select name="currentbookkeepingSoftware" id="currentbookkeepingSoftware">
                    </select>
				</div>
                <div class="form-group" id="currentbookkeepingSoftwareOtherBox">
                    <label for="currentbookkeepingSoftwareOther">Please specify:</label>
                    <input type=text name="currentbookkeepingSoftwareOther" id="currentbookkeepingSoftwareOther">
                </div>

				<div class="form-group">
					<label for="currentBookkeepingTools">Are there any external softwares/tools you are using to aid in your accounting?</label>
                    <div id="currentBookkeepingTools">
                    </div>
                </div>
                <div class="form-group" id="currentBookkeepingToolsOtherBox">
                    <label for="currentBookkeepingToolsOtherBox">Please specify:</label>
                    <input type="text" name="currentBookkeepingToolsOther" id="currentBookkeepingToolsOther">
                </div>
				<div class="form-group">
					<label for="booksAccess">Who has/will have access to your books, and what are their roles/titles?</label>
					<table class="booksAccess">
                        <tbody id="booksAccess"></tbody>
					</table>
					<button type="button" id="addBooksAccess" class="btn btn-sm">Add Person</button>
				</div>

				<div class="form-group">
					<label for="currentBookkeepingInvolvementScale">How involved are you in your current bookkeeping process?</label>
					<input value="1" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale1"> 1
					<input value="2" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale2"> 2
					<input value="3" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale3"> 3
					<input value="4" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale4"> 4
					<input value="5" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale5"> 5
				</div>

				<div class="form-group">
					<label for="desiredBookkeepingInvolvementScale">How involved would you prefer to be?</label>
					<input value="1" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale1"> 1
					<input value="2" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale2"> 2
					<input value="3" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale3"> 3
					<input value="4" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale4"> 4
					<input value="5" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale5"> 5
				</div>

				<div class="form-group">
					<label for="currentBookkeepingMonthlyExpenditure">What is your current monthly bookkeeping expenditure?</label>
					<input type="text" name="currentBookkeepingMonthlyExpenditure" id="currentBookkeepingMonthlyExpenditure">
				</div>

				<div class="form-group">
					<label for="currentBookkeepingRatingScale">How would you rate the current state of your books?</label>
					<input value="1" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale1"> 1
					<input value="2" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale2"> 2
					<input value="3" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale3"> 3
					<input value="4" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale4"> 4
					<input value="5" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale5"> 5
				</div>

				<div class="form-group">
					<label for="booksRequiringCleanupYN">Do you feel your books require cleanup?</label>
					<input value="Yes" type="radio" name="booksRequiringCleanupYN" id="booksRequiringCleanupYES"> Yes
					<input value="No" type="radio" name="booksRequiringCleanupYN" id="booksRequiringCleanupNO"> No
				</div>

				<div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="booksRequiringCleanup" class="form-group">
					<div style="margin-left: 10px">	
						<label for="ongoingMaintenanceYN">Will you require ongoing maintenance after this initial clean-up project?</label>
						<input value="Yes" type="radio" name="ongoingMaintenanceYN" id="ongoingMaintenanceYES"> Yes
						<input value="No" type="radio" name="ongoingMaintenanceYN" id="ongoingMaintenanceNO"> No
					</div>
				</div>

				<div class="form-group">
					<label for="issuesToBeReviewed">Is there a particular issue you would like us to review more closely?</label>
					<textarea class="form-control" rows="2" id="issuesToBeReviewed"></textarea>
				</div>

				<div class="form-group">
					<label for="currentBookkeepingConcerns">What are your biggest bookkeeping concerns at this time?</label>
					<textarea class="form-control" rows="2" id="currentBookkeepingConcerns"></textarea>
				</div>

				<div class="form-group">
					<label for="booksLastYearFinished">To the best of your knowledge, what is the last year that is completed in your books? OR What year do we need to begin working on in your books?</label>
						<select name="booksLastYearFinished" id="booksLastYearFinished"></select>
				</div>

				<div class="form-group">
					<label for="communicationExpectations">What are your communication expectations for your accounting team?</label>
					<textarea class="form-control" rows="2" id="communicationExpectations"></textarea>
				</div>	

				<div class="form-group">
					<label for="responseTimeExpectations">What is your expectation for response time?</label>
					<select name="responseTimeExpectations" id="responseTimeExpectations">
						<option value="responseTimeExpectationsImmdiately">Immediately</option>
						<option value="responseTimeExpectationsHour">Within the Hour</option>
						<option value="responseTimeExpectationsFewHours">Within a Few Hours</option>
						<option value="responseTimeExpectationsLessThanDay">Less Than a Day</option>
						<option value="responseTimeExpectationsOneDay">Within One Day</option>
						<option value="responseTimeExpectationsFewDays">Within a Few Days</option>
					</select>
				</div>

				<div class="form-group">
					<label for="preferredCommunicationMethodChoice">What is your preferred method of communication with your bookkeeper?</label>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodEmail">Email</label>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodTexting">Texting</label>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodCall">Phone Calls</label>
					<label><input type="checkbox" name="preferredCommunicationMethod" id="preferredCommunicationPerson">In-Person</label>
				</div>
			</div>

			<div> <!--TAX FILING-->
                <div class="form-group">
				    <label for="AppointmentAccountant">Do you have an appointment scheduled with your accountant/tax preparer?</label>
                    <label><input value="Yes" type="radio" name="AppointmentAccountant">Yes</label>
                    <label><input value="No" type="radio" name="AppointmentAccountant">No</label>
                </div>

                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYAppointmentAccountant" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="AccWho">Who are they?</label>
                        <input type="text" name="AccWho" id="AccWho"> 
                        <label for="AccWhen">When is the appointment?</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="AccWhen" id="AccWhen" class="form-control datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AppointmentIndividual">Do you have an appointment scheduled with an individual or business that will be reviewing your accounting files once we have completed the work?</label>
                    <label><input value="Yes" type="radio" name="AppointmentIndividual" id="AppointmentIndividual1">Yes</label>
                    <label><input value="No" type="radio" name="AppointmentIndividual" id="AppointmentIndividual2">No</label>
                </div>

                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYAppointmentIndividual" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="IndWho">Who are they?</label>
                        <input type="text" name="IndWho" id="IndWho"> 
                        <label for="IndWhen">When is the appointment?</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="IndWhen" id="IndWhen" class="form-control datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="TaxReturnBusiness">What is the last year you have completed tax return field for your business?</label>
                    <select name="TaxReturnBusiness" id="TaxReturnBusiness"> 
                    </select>
                </div>

                <div class="form-group">
                    <label for="TaxReturnPersonal">What is the last year you have completed tax return field for your personal?</label>
                    <select name="TaxReturnPersonal" id="TaxReturnPersonal"> 
                    </select>
                </div>

                <div class="form-group">
                    <label for="Extension">Are you on extension for your current financial year?</label>
                    <label><input value="Yes" type="radio" name="Extension" id="Extension1">Yes</label> 
                    <label><input value="No" type="radio" name="Extension" id="Extension2">No</label>
                </div>

                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYExtension" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="ExtensionDate">What date is your extension due?</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="ExtensionDate" id="ExtensionDate" class="form-control datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="DateOfStart">When would you like us to begin working?</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="DateOfStart" id="DateOfStart" class="form-control datepicker">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>

		    <div> <!--A/R-->
		    	<div class="form-group">
                    <label for="invoiceCustomers">Do you invoice your cutomers or are you paid immediately?</label>
                    <label><input value="Invoice" type="radio" name="invoiceCustomers">Invoice</label>
                    <label><input value="paidImmediately" type="radio" name="invoiceCustomers">Paid immediately</label>
                </div>
                <div class="form-group">
                    <label for="collectSalesTax">Do you sell products that require you to collect and pay sales tax?</label>
                    <input value="Yes" type="radio" name="collectSalesTax" id="collectSalesTax1"> Yes
                    <input value="No" type="radio" name="collectSalesTax" id="collectSalesTax2"> No
              
                </div>
		    </div>
            <div> <!--Payroll-->
		    	<div class="form-group">
                    <label for="subcontractors">Do you use subcontractors?</label>
                    <input value="Yes" type="radio" name="subcontractors" id="subcontractors1"> Yes
                    <input value="No" type="radio" name="subcontractors" id="subcontractors2"> No
                </div>
                <div class="form-group">
                    <label for="employeeCount">Do you have employees?</label>
                    <label><input value="Yes" type="radio" name="employeeCount">Yes</label>
                    <label><input value="No" type="radio" name="employeeCount">No</label>
                </div>

                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYemployeeCount" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="employeeCount">How many employees do you have?</label>
                        <input type="text" name="employeeCount" id="employeeCount"> 
                    </div>
                </div>

                <div class="form-group" id="handlePayroll">
                    <label for="handlePayroll">How do you handle payroll?</label>
                    <label><input type="checkbox" name="handlePayroll" value="ADP">ADP</label>
                    <label><input type="checkbox" name="handlePayroll" value="Paychex">Paychex</label>
                    <label><input type="checkbox" name="handlePayroll" value="Intuit">Intuit</label>
                    <label><input type="checkbox" name="handlePayrollOther" value="Other">Other</label>
                </div>

                <div class="form-group" id="handlePayrollOtherBox">
                    <label for="handlePayrollOther">Please specify:</label>
                    <input type="text" name="handlePayrollOther">
                </div>
            </div>

		    <div> <!-- Inventory -->
		    	<div class="form-group">
                    <label for="Inventory">Do you manage or track inventory?</label>
                    <label><input value="Yes" type="radio" name="Inventory" id="Inventory1">Yes</label>
                    <label><input value="No" type="radio" name="Inventory" id="Inventory">No</label> 
                </div>
            </div>



                        </form>
                        <button class="btn btn-default" id="modalSubmit">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="js/introduction.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script
          src="http://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="packages/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.2/moment-range.js"></script>
    </body>
</html>


