<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
        <title>Quick Onboarding Form</title>
    </head>
    <body>
        <table class="table .table-striped">
            <thead>
                <tr>
                    <th scope="col">Date Entered</th>
                    <th scope="col">Contact Name</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            <thead>
            <tbody id="leads">
            </tbody>
        </table>
        <div class="text-center" id="loading">
            <span class="spinner-border" role="status">
            </span>
            <span>Loading from Salesforce...</span>
        </div>


        <!-- modals -->

        <div class="modal fade" id="uModal" tabindex="-1" role="dialog" aria-labelledby="uModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="form" action="/introduction" method="post">
                            <input type="hidden" id="Id">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input type="text" id="FirstName" name="FirstName">
                                <label for="LastName">Last Name</label>
                                <input type="text" id="LastName" name="LastName">
                            </div>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="Title" name="Title">
                            </div>
                            <div class="form-group"> 
                                <label for="PastBookkeeper">Who has been doing your bookkeeping?</label>
                                <input type="text" id="PastBookkeeper" name="RastBookkeeper">
                            </div>
                            <div class="form-group">
                                <label for="Frequency">Is your bookkeeping being done...</label>
                                <select id="Frequency" name="Frequency">
                                    <option value="Weekly">weekly?</option> 
                                    <option value="Monthly">monthly?</option>
                                    <option value="Yearly">yearly?</option>
                                </select>
                            </div>
                            <div class="form-group"> 
                                <label for="Hours">How many hours a month are currently spent on your books?</label>
                                <input type="number" id="Hours" name="Hours">
                            </div>
                            <div class="form-group"> 
                                <label for="Rating">On a scale of 1-10, how would you rate the current state of your books?</label>
                                <input type="number" id="Rating" name="Rating">
                            </div>                            
                            <div class="form-group">
                                <label for="Phone">Phone Number</label>
                                <input type="text" id="Phone" name="Phone">
                            </div>
                            <div class="form-group">
                                <label for="AccountSource">Who can we thank for referring us?</label>
                                <select id="AccountSource" name="AccountSource">
                                </select>
                            </div>
                            <div class="input-group date" data-provide="datepicker">
                                <label for="Current">How far back will we need to go </br>to get your books caught up?</label>
                                <input type="text" id="Current" class="form-control datepicker">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="Software-div">
                                    <label for="Software">Which software(s) do you use?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TaxPreparer">Who is your current tax preparer?</label>
                                <select id="TaxPreparer" name="TaxPreparer">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email Address</label>
                                <input type="email" id="Email" name="Email">
                            </div>
                            <div id="businesses">
                                <div id="business-1">
                                    <div class="form-group"> 
                                        <label for="Company">Company Name</label>
                                        <input type="text" id="Company" name="Company">
                                    </div>
                                    <div class="form-row"> 
                                        <div class="form-group col-xs-12">
                                            <label for="BillingStreet">Company Billing Address</label>
                                            <input id="BillingStreet" name="BillingStreet">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-xs-6">
                                            <label for="BillingCity">City</label>
                                            <input type="text" id="BillingCity" name="BillingCity">
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label for="BillingState">State</label>
                                            <select id="BillingState" name="BillingState"> 
                                            </select>
                                        </div>
                                        <div class="form-group col-xs-2">
                                            <label for="BillingPostalCode">Zip</label>
                                            <input type="text" id="BillingPostalCode" name="BillingPostalCode">
                                        </div>
                                        <div class="form-row"> 
                                            <div class="form-group col-xs-12">
                                                <label for="ShippingStreet">Company Shipping Address</label>
                                                <input id="ShippingStreet" name="ShippingStreet">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-xs-6">
                                                <label for="ShippingCity">City</label>
                                                <input type="text" id="ShippingCity" name="ShippingCity">
                                            </div>
                                            <div class="form-group col-xs-2">
                                                <label for="ShippingState">State</label>
                                                <select id="ShippingState" name="ShippingState"> 
                                                </select>
                                            </div>
                                            <div class="form-group col-xs-2">
                                                <label for="ShippingPostalCode">Zip</label>
                                                <input type="text" id="ShippingPostalCode" name="ShippingPostalCode">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group"> 
                                        <label for="BusinessClassification">Is your company a...</label>
                                        <select id="BusinessClassification" name="BusinessClassification">
                                        </select>
                                    </div>
                                    <div class="form-group"> 
                                        <div id="Industries-div">
                                            <label for="Industries">What is the primary business your company does?</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Description">Notes</label>
                                <textarea class="form-control" rows="5" id="Description" name="Description"></textarea>
                            </div>

                            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Lead lost modal -->
        <div class="modal fade" id="dModal" tabindex="-1" role="dialog" aria-labelledby="dModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="form">
                            <input type="hidden" id="dId">
                            <div class="form-group">
                                <label for="dFirstName">First Name</label>
                                <input type="text" id="dFirstName" name="dFirstName">
                                <label for="dLastName">Last Name</label>
                                <input type="text" id="dLastName" name="dLastName">
                            </div>
                            <div class="form-group">
                                <label for="dCompany">Company</label>
                                <input type="text" id="dCompany" name="dCompany">
                            </div>
                            <div class="form-group">
                                <label for="dEmail">Email</label>
                                <input type="text" id="dEmail" name="dEmail">
                            </div>
                            <div class="form-group">
                                <label for="dPhone">Phone</label>
                                <input type="text" id="dPhone" name="dPhone">
                            </div>
                            <div class="form-group">
                                <label for="dDescription">Description</label>
                                <textarea rows="5" id="dDescription" name="dDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="dAccountSource">Who can we thank for referring us?</label>
                                <select id="dAccountSource" name="dAccountSource">
                                </select>
                            </div>
                            <div class="form-group">
                                <div id="dReasons-div">
                                    <label for="dReasons">Reason for dismissal:</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dReasons-Detail">Reason details:</label>
                                <textarea rows="5" id="dReasons-Detail" name="dReasons-Detail"></textarea>
                            </div>


                            <button type="dismiss" id="dismiss" class="btn btn-danger">Dismiss</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script
          src="http://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="packages/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="js/onboarding.js"></script>
    </body>
</html>


