<!DOCTYPE html>
<html style="background-color: #572e5e">
	<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
		<title>Potential Client Intake Form</title>
	</head>
	<body style="margin-left: 100px; margin-right: 100px; padding: 30px 30px 30px 30px; background-color: #e3e2e7; height: 2000px;">
        <img src="/assets/header.png" alt="header" class="responsive" style="width:100%;height:auto;"><br><br>
		<form>
		<div style="text-align:center; font-size:25px; color:#572e5e">
            Potential Client Intake Form
			<br></br>
		</div>
        <div class="text-center" id="loading">
            <span class="spinner-border" role="status">
            </span>
            <span>Retrieving information...</span>
        </div>


		<div id="page-1" style="display: none;"> <!--General-->

            <h3>Tell us a bit about yourself.</h3>
            <hr>
			<div class="form-group">
				<label for="FirstName">First Name</label>
                <input type="text" name="FirstName" id="FirstName"> 
				<label for="LastName">Last Name</label>
				<input type="text" name="LastName" id="LastName"> 
			</div>
			<div class="form-group">
				<label for="Email">Email</label>
				<input type="text" name="Email" id="Email" style="width: 500px"> 
                <br>
				<label for="Phone">Phone</label>
				<input type="text" name="Phone" id="Phone"> 
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title"> 
			</div>

            <div class="form-group">
				<label for="partnersYN">Do you have any partners, or shareholders?</label>
                <br>
				<label><input value="Yes" type="radio" name="partnersYN" id="partnersYES">Yes</label>
				<label><input value="No" type="radio" name="partnersYN" id="partnersNO">No</label>
			</div>
            <div class="form-group" id="addPartnerNames">
                <table class="partnersNames">
                    <tbody id="partnersNames"></tbody>
                </table>
                <button type="button" id="addPartner" style="background-color:#572e5e;color:#ffffff;margin:0px;" class="btn btn-sm">Add Partner</button>
            </div>

			<div class="form-group">Business Address
				<br>
				<label for="bizAddrStreet">Street</label>
				<input type="text" name="bizAddrStreet" id="bizAddrStreet" style="width: 400px">
				<br>
				<label for="bizAddrCity">City</label>
				<input type="text" name="bizAddrCity" id="bizAddrCity">
				<label for="bizAddrState">State</label>
				<select name="bizAddrState" id="bizAddrState">
                </select>
				<label for="bizAddrZip">Zip Code</label>
				<input type="text" name="bizAddrZip" id="bizAddrZip" style="width: 75px">
			</div>
			<div class="form-group">Mailing Address
				<br>
				<label><input type="checkbox" name="differentFromBizAddr" id="differentFromBizAddr">Different from business address?</label>
				<div id="mailAddr" class="form-group">
					<label for="mailAddrStreet">Street</label>
					<input type="text" name="mailAddrStreet" id="mailAddrStreet" style="width: 400px">
					<br>
					<label for="mailAddrCity">City</label>
					<input type="text" name="mailAddrCity" id="mailAddrCity">
					<label for="mailAddrState">State</label>
					<select name="mailAddrState" id="mailAddrState">
                    </select>
					<label for="mailAddrZip">Zip Code</label>
					<input type="text" name="mailAddrZip" id="mailAddrZip" style="width: 75px">
				</div>
			</div>
			<div class="form-group">
			</div>
		</div>


		<div id="page-2"> <!--Business-->
            <h3>Company Details</h3>
            <hr>

			<div class="form-group">
                <label for="Company">Company Name</label>
				<input type="text" name="Company" id="Company"> 
                <br>
                <label for="website">Website URL</label>
				<input type="text" name="website" id="website" style="width: 500px"> 
                <br>
				<label for="industry">Industry</label>
				<select type="text" name="industry" id="industry"> 
                </select>
            </div>
			<div class="form-group">
				<label for="bizClass">What is your business classification?</label>
				<select name="bizClass" id="bizClass">
                </select>
			</div>
			<div class="form-group">
				<label for="restructureYN">Did you change company structure during the year?</label>
				<label><input value="Yes" type="radio" name="restructureYN">Yes</label>
				<label><input value="No" type="radio" name="restructureYN">No</label>
			</div>
			<div style="margin-left: 65px; border-left: 1px solid #572e5e;" class="form-group" id="restructureBox">
				<div style="margin-left: 10px" class="form-group">
                    <label>Restructure Date:
                        <select id="restructureMonth">
                        </select>
                        <select id="restructureYear">
                        </select>
                    </label>
                    <br>
                    <label>From 
                        <select id="restructureStart">
                        </select>
                        To 
                        <select id="restructureEnd">
                        </select>
                    </label>
                    <br>
				</div>
			</div>

			<div class="form-group">
				<label for="ownershipYear">What year did you form or take ownership of your primary business?</label>
					<select name="ownershipYear" id="ownershipYear"></select>
			</div>
			<div class="form-group">
				<label for="state">What state is your company registered in?</label>
				<select name="state" id="state"> 
                </select>
			</div>
			
			<div class="form-group">
				<label for="moreCompaniesYN">Do you have more than one company that you will need our bookkeeping services for?</label>
                <br>
				<label><input value="Yes" type="radio" name="moreCompaniesYN" id="moreCompaniesYES">Yes</label>
				<label><input value="No" type="radio" name="moreCompaniesYN" id="moreCompaniesNO">No</label>
			</div>
			<div style="margin-left: 65px; border-left: 1px solid #572e5e;" class="form-group" id="otherCompanies">
				<div style="margin-left: 10px" class="form-group">
					<label for="companiesSeparateBooksYN">Does each company have its own set of books?</label>
                    <br>
					<label><input value="Yes" type="radio" name="companiesSeparateBooksYN" id="companiesSeparateBooksYES">Yes</label>
					<label><input value="No" type="radio" name="companiesSeparateBooksYN" id="companiesSeparateBookssNO">No</label>
				</div>
				<div style="margin-left: 10px" class="form-group">
					<label for="companiesSeparateAccountsYN">Does each company have its own set of bank accounts and credit cards?</label>
                    <br>
					<label><input value="Yes" type="radio" name="companiesSeparateAccountsYN" id="companiesSeparateAccountsYES">Yes</label>
					<label><input value="No" type="radio" name="companiesSeparateAccountsYN" id="companiesSeparateAccountsNO">No</label>
				</div>
			</div>
		</div>


		<!--<div id="page-3">
			<div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYcontainer" class="form-group">
				<div style="margin-left: 10px">
					<label for="FiscalYear">What is the beginning and ending date of your company's fiscal year?</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control datepicker" id="FiscalYear">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
				</div>
			</div>



			<div class="form-group">
				<label for="DateOfStart">When would you like us to begin working?</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control datepicker" id="OtherStatementCycle${o}">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
			</div>
		</div>
        -->

		<div id="page-3"> <!--ACCOUNTING SERVICE-->
            <h3>Accounting Services</h3>
            <hr>
            <div class="form-group">
                <label for="currentbookkeepingSoftware">What accounting software are you currently using, if any?</label>
                <select name="currentbookkeepingSoftware" id="currentbookkeepingSoftware">
                </select>
            </div>
            <div class="form-group">
                <label for="currentBookkeepingTools">Are there any external softwares/tools you are using in conjunction with accounting software to aid in your accounting?</label>
                <div id="currentBookkeepingTools">
                </div>
                <div id="currentBookkeepingToolsOtherBox">
                    <label for="currentBookkeepingToolsOtherBox">Please specify:</label>
                    <input type="text" name="currentBookkeepingToolsOther" id="currentBookkeepingToolsOther">
                </div>
            </div>
            <div style="margin-left: 10px">
                <label for="directOwnershipOfBooksYN">Do you have direct ownership of your books and/or accounting files?</label>
                <br>
                <label><input value="Yes" type="radio" name="directOwnershipOfBooksYN" id="directOwnershipOfBooksYES">Yes</label>
                <label><input value="No" type="radio" name="directOwnershipOfBooksYN" id="directOwnershipOfBooksNO">No</label>
            </div>

			
			<div class="form-group">
				<label for="externalBookkeeperYN">Do you work with an external bookkeeper/accountant?</label>
                <br>
				<input value="Yes" type="radio" name="externalBookkeeperYN" id="externalBookkeeperYES"> Yes
				<input value="No" type="radio" name="externalBookkeeperYN" id="externalBookkeeperNO"> No
			</div>
				<!--IF YES (to externalBookkeeperYN)-->
				<div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="externalBookkeeper" class="form-group">
					<div style="margin-left: 10px">
						<label for="externalBookkeeperInformedYN">Have you informed them that you are meeting with us?</label>
                        <br>
                        <label><input value="Yes" type="radio" name="externalBookkeeperInformedYN" id="externalBookkeeperInformedYES">Yes</label>
                        <label><input value="No" type="radio" name="externalBookkeeperInformedYN" id="externalBookkeeperInformedNO">No</label>
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperFutureRole">What role will they continue to play in this process?</label>
						<input type="text" name="externalBookkeeperFutureRole" id="externalBookkeeperFutureRole"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperReachOutYN">Are we able to reach out to them to ask questions if necessary?</label>
                        <br>
                        <label><input value="Yes" type="radio" name="externalBookkeeperReachOutYN">Yes</label>
                        <label><input value="No" type="radio" name="externalBookkeeperReachOutYN">No</label>
					</div>
                    <div id="externalBookkeeperReachOut" class="form-group">
                        <label>Please provide their email and/or phone number:</label>
						<label for="externalBookkeeperEmail">Email</label>
                        <input type="email" name="externalBookkeeperEmail" id="externalBookkeeperEmail">
						<label for="externalBookkeeperPhone">Phone</label>
                        <input type="text" name="externalBookkeeperPhone" id="externalBookkeeperPhone">
                    </div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperCompany">Bookkeeping/Accounting Company</label>
						<input type="text" name="externalBookkeeperCompany" id="externalBookkeeperCompany"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperName">Bookkeeper/Accountant Name</label>
						<input type="text" name="externalBookkeeperName" id="externalBookkeeperName"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperLocation">Bookkeeper/Accountant Location</label>
						<input type="text" name="externalBookkeeperLocation" id="externalBookkeeperLocation"> 
					</div>
					<div style="margin-left: 10px">
						<label for="externalBookkeeperLikeDislike">What do you like and dislike about your current bookkeeper/accountant?</label>
						<textarea class="form-control" rows="2" id="externalBookkeeperLikeDislike"></textarea>
					</div>
				</div>

                <!--<div class="form-group">
                    <label for="currentBookkeepingMethod">How do you currently maintain your books?</label>
                    <input type="text" name="currentBookkeepingMethod" id="currentBookkeepingMethod">
                </div>


				<div class="form-group">
					<label for="newBookkeeperReason">Why do you feel that you are ready for a (new) bookkeeper now?</label>
					<textarea class="form-control" rows="2" id="newBookkeeperReason"></textarea>
				</div>


                <div class="form-group" id="currentbookkeepingSoftwareOtherBox">
                    <label for="currentbookkeepingSoftwareOther">Please specify:</label>
                    <input type=text name="currentbookkeepingSoftwareOther" id="currentbookkeepingSoftwareOther">
                </div>

                <div class="form-group" id="currentBookkeepingToolsOtherBox">
                    <label for="currentBookkeepingToolsOtherBox">Please specify:</label>
                    <input type="text" name="currentBookkeepingToolsOther" id="currentBookkeepingToolsOther">
                </div>



				<div class="form-group">
					<label for="currentBookkeepingMonthlyExpenditure">What is your current monthly bookkeeping expenditure?</label>
					<input type="text" name="currentBookkeepingMonthlyExpenditure" id="currentBookkeepingMonthlyExpenditure">
				</div>





				<div class="form-group">
					<label for="currentBookkeepingConcerns">What are your biggest bookkeeping concerns at this time?</label>
					<textarea class="form-control" rows="2" id="currentBookkeepingConcerns"></textarea>
				</div>


				<div class="form-group">
					<label for="communicationExpectations">What are your communication expectations for your accounting team?</label>
					<textarea class="form-control" rows="2" id="communicationExpectations"></textarea>
				</div>	


                -->
			</div>

            <!-- Company Details -->
            <div id="page-4">
                <h3>Company Operations</h3>
                <hr>
                <div class="form-group">
                    <label for="Cash">Is your company cash or accrual basis?</label>
                    <select type="text" name="Cash" id="Cash"> 
                        <option value="Cash">Cash</option>
                        <option value="Accrual">Accrual</option>
                        <option value="I'm not sure">I'm not sure</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="AccountingYear">Do you do your accounting on a calendar year or fiscal year?</label>
                    <select name="AccountingYear" id="AccountingYear">
                        <option value="Calendar Year" type="checkbox">Calendar Year</option> 
                        <option value="Fiscal Year" type="checkbox">Fiscal Year</option>
                        <option value="I'm not sure" type="checkbox">I'm not sure</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Value">What is the average value of invoices/transactions with your customers?</label>
                    <select name="Value" id="Value">
                        <option disabled selected value></option>
                        <option value="0 - 99" type="checkbox">0 - 99</option> 
                        <option value="100 - 999" type="checkbox">100 - 999</option>
                        <option value="1000+" type="checkbox">1000+</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="AnnualRevenue">What is your annual revenue volume? Feel free to estimate.</label>
                    <input type="number" name="AnnualRevenue" id="AnnualRevenue"> 
                </div>
		    	<div class="form-group">
                    <label for="invoiceCustomers">Do you invoice your cutomers or are you paid immediately?</label>
                    <br>
                    <label><input value="Invoice" type="radio" name="invoiceCustomers"> Invoice</label>
                    <label><input value="paidImmediately" type="radio" name="invoiceCustomers"> Paid immediately</label>

                    <label><input value="Commission" type="radio" name="invoiceCustomers"> Commission</label>
                </div>
		    	<div class="form-group">
                    <label for="Inventory">Do you manage or track inventory?</label>
                    <br>
                    <label><input value="Yes" type="radio" name="Inventory" id="Inventory1"> Yes</label>
                    <label><input value="No" type="radio" name="Inventory" id="Inventory"> No</label> 
                </div>
                <div class="form-group">
                    <label for="collectSalesTax">Do you sell products that require you to collect and pay sales tax?</label>
                    <br>
                    <input value="Yes" type="radio" name="collectSalesTax" id="collectSalesTax1"> Yes
                    <input value="No" type="radio" name="collectSalesTax" id="collectSalesTax2"> No
                </div>
                <div class="form-group">
                    <label for="Volume">What is the average number of bank transactions/credit card transactions/invoices/cash receipts per month? Feel free to estimate.</label>
                    <input type="text" name="Volume" id="Volume"> 
                </div>
				<div class="form-group">
					<label for="currentBookkeepingTimeSpent">How many hours per month are being spent on your bookkeeping?</label>
                    <br>
					<input style="width: 40px" type="text" name="currentBookkeepingTimeSpent" id="currentBookkeepingTimeSpent">
					hours per month
				</div>
                <div class="form-group">
                    <label for="employeesYN">Do you have employees?</label>
                    <br>
                    <label><input value="Yes" type="radio" name="employeesYN"> Yes</label>
                    <label><input value="No" type="radio" name="employeesYN"> No</label>
                </div>
                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYemployeeCount" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="employeeCount">How many employees do you have?</label>
                        <input type="text" name="employeeCount" id="employeeCount"> 
                    </div>
                </div>
                <div class="form-group" id="handlePayroll">
                    <label for="handlePayroll">How do you handle payroll?</label>
                    <label><input type="checkbox" name="handlePayroll" value="ADP"> ADP</label>
                    <label><input type="checkbox" name="handlePayroll" value="Paychex"> Paychex</label>
                    <label><input type="checkbox" name="handlePayroll" value="Intuit"> Intuit</label>
                    <label><input type="checkbox" id="handlePayrollOtherCheckbox" name="handlePayroll" value="Other"> Other</label>
                </div>

                <div class="form-group" id="handlePayrollOtherBox">
                    <label for="handlePayrollOther">Please specify:</label>
                    <input type="text" name="handlePayrollOther" id="handlePayrollOther">
                </div>
		    	<div class="form-group">
                    <label for="subcontractors">Do you use subcontractors?</label>
                    <br>
                    <input value="Yes" type="radio" name="subcontractors" id="subcontractors1"> Yes
                    <input value="No" type="radio" name="subcontractors" id="subcontractors2"> No
                </div>

            </div>

            <!--BOOKKEEPING PROCESS-->
            <div id="page-5">
                <h3>Bookkeeping Process</h3>
                <hr>
                <div class="form-group">
					<label for="currentBookkeepingInvolvementScale">How involved are you in your current bookkeeping process?</label>
					<input value="1" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale1"> 1
					<input value="2" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale2"> 2
					<input value="3" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale3"> 3
					<input value="4" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale4"> 4
					<input value="5" type="radio" name="currentBookkeepingInvolvementScale" id="currentBookkeepingInvolvementScale5"> 5
				</div>
				<div class="form-group">
					<label for="desiredBookkeepingInvolvementScale">How involved would you like to be?</label>
					<input value="1" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale1"> 1
					<input value="2" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale2"> 2
					<input value="3" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale3"> 3
					<input value="4" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale4"> 4
					<input value="5" type="radio" name="desiredBookkeepingInvolvementScale" id="desiredBookkeepingInvolvementScale5"> 5
				</div>
				<div class="form-group">
					<label for="booksAccess">Besides us, who has/will have access to your books, and what are their roles/titles?</label>
					<table class="booksAccess">
                        <tbody id="booksAccess"></tbody>
					</table>
					<button type="button" id="addBooksAccess" class="btn btn-sm">Add Person</button>
				</div>
				<div class="form-group">
					<label for="booksLastYearFinished">What is the last month and year your bookkeeping has been completed?</label>
                        <br>
                        <select name="booksLastMonthFinished" id="booksLastMonthFinished"></select>
						<select name="booksLastYearFinished" id="booksLastYearFinished"></select>
				</div>
				<div class="form-group">
					<label for="currentBookkeepingRatingScale">How would you rate the current state of your books?</label>
                    <br>
					<input value="Excellent" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale1"> Excellent
					<input value="Good" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale2"> Good
					<input value="Needs Improvement" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale3"> Needs Improvement
					<input value="Not So Good" type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale4"> Not So Good
					<input value="Uhh..." type="radio" name="currentBookkeepingRatingScale" id="currentBookkeepingRatingScale5"> Uhh...
				</div>
				<div class="form-group">
					<label for="booksRequiringCleanupYN">Do you feel your books require cleanup?</label>
                    <br>
					<input value="Yes" type="radio" name="booksRequiringCleanupYN" id="booksRequiringCleanupYES"> Yes
					<input value="No" type="radio" name="booksRequiringCleanupYN" id="booksRequiringCleanupNO"> No
				</div>
				<div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="booksRequiringCleanup" class="form-group">
					<div style="margin-left: 10px">	
						<label for="ongoingMaintenanceYN">Will you require ongoing maintenance after this initial clean-up project?</label>
                        <br>
						<input value="Yes" type="radio" name="ongoingMaintenanceYN" id="ongoingMaintenanceYES"> Yes
						<input value="No" type="radio" name="ongoingMaintenanceYN" id="ongoingMaintenanceNO"> No
					</div>
				</div>
				<div class="form-group">
					<label for="issuesToBeReviewed">Is there a particular issue you would like us to review more closely?</label>
					<textarea class="form-control" rows="2" id="issuesToBeReviewed"></textarea>
				</div>
            </div>
			<div id="page-6"> <!--TAX FILING-->
                <h3>Tax Filing Details</h3>
                <hr>
                <div class="form-group">
				    <label for="AppointmentAccountant">Do you have an appointment scheduled with your accountant/tax preparer?</label>
                    <br>
                    <label><input value="Yes" type="radio" name="AppointmentAccountant">Yes</label>
                    <label><input value="No" type="radio" name="AppointmentAccountant">No</label>
                </div>

                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYAppointmentAccountant" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="AccWho">Who are they?</label>
                        <input type="text" name="AccWho" id="AccWho"> 
                        <label for="AccWhen">When is the appointment?</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="AccWhen" id="AccWhen" class="form-control datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TaxReturnBusiness">What is the last year you have completed tax return field for your business?</label>
                    <select name="TaxReturnBusiness" id="TaxReturnBusiness"> 
                    </select>
                </div>

                <div class="form-group">
                    <label for="TaxReturnPersonal">What is the last year you have completed tax return field for your personal?</label>
                    <select name="TaxReturnPersonal" id="TaxReturnPersonal"> 
                    </select>
                </div>
                <div class="form-group">
                    <label for="Extension">Are you on extension for your current financial year?</label>
                    <br>
                    <label><input value="Yes" type="radio" name="Extension" id="Extension1">Yes</label> 
                    <label><input value="No" type="radio" name="Extension" id="Extension2">No</label>
                </div>
                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYExtension" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="ExtensionDate">What date is your extension due?</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="ExtensionDate" id="ExtensionDate" class="form-control datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AppointmentIndividual">Do you have an appointment scheduled with an individual or business, other than your tax preparer, who will be reviewing your accounting files once we have completed the work?</label>
                    <br>
                    <label><input value="Yes" type="radio" name="AppointmentIndividual" id="AppointmentIndividual1">Yes</label>
                    <label><input value="No" type="radio" name="AppointmentIndividual" id="AppointmentIndividual2">No</label>
                </div>

                <div style="margin-left: 65px; border-left: 1px solid #572e5e;" id="FYAppointmentIndividual" class="form-group">
                    <div style="margin-left: 10px">
                        <label for="IndWho">Who are they?</label>
                        <input type="text" name="IndWho" id="IndWho"> 
                        <label for="IndWhen">When is the appointment?</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="IndWhen" id="IndWhen" class="form-control datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Relationship -->
            <div id="page-7">
                <h3>Bookkeeper Relationship</h3>
                <hr>
				<div class="form-group">
					<label for="preferredCommunicationMethodChoice">What is your preferred method of communication with your bookkeeper?</label>
                    <br>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodEmail">Email</label>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodTexting">Texting</label>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodCall">Phone Calls</label>
					<label><input type="checkbox" name="preferredCommunicationMethodChoice" id="preferredCommunicationMethodPerson">In-Person</label>
				</div>
				<!--<div class="form-group">
					<label for="responseTimeExpectations">What is your expectation for response time?</label>
					<select name="responseTimeExpectations" id="responseTimeExpectations">
						<option value="responseTimeExpectationsImmdiately">Immediately</option>
						<option value="responseTimeExpectationsHour">Within the Hour</option>
						<option value="responseTimeExpectationsFewHours">Within a Few Hours</option>
						<option value="responseTimeExpectationsLessThanDay">Less Than a Day</option>
						<option value="responseTimeExpectationsOneDay">Within One Day</option>
						<option value="responseTimeExpectationsFewDays">Within a Few Days</option>
					</select>
                </div>-->
                <div class="form-group">
                    <label for="FinancialReports">What is the frequency that you would like to have access to your financial reports?</label>
                    <select name="FinancialReports" id="FinancialReports">
                        <option value="Monthly">Monthly</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Semi-Annual">Semi-Annual</option>
                        <option value="Annually">Annually</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selfreportYN">Would you like to learn to run financial reports on your own?</label>
                    <br>
                    <label><input value="Yes" type="radio" name="selfreportYN">Yes</label>
                    <label><input value="No" type="radio" name="selfreportYN">No</label>
                </div>
                <div class="form-group">
                    <label for="DateOfStart">When would you like us to begin working?</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="DateOfStart" id="DateOfStart" class="form-control datepicker">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>

        <div id="hidden">
            <input type="hidden" id="link" value="<%= link %>">
        </div>

        <button type="button" id="previous" class="btn btn-block btn-lg col-sm-3 float-left" style="background-color:#572e5e;color:#ffffff;display:none;">Previous</button>
        <button type="button" id="next" class="btn btn-block btn-lg col-sm-3 float-right" style="background-color:#572e5e;color:#ffffff;margin:0px;display:none;">Next</button>
        <button type="submit" id="submit" class="btn btn-block btn-primary btn-lg col-sm-3 float-right" style="color:#ffffff;margin:0px;display:none;">       
            <span id="submitStatus" class="spinner-border spinner-border-sm" role="status"></span>
            <span id="buttonStatus">Submit</span>
        </button>

        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
		<script src="/js/questionnaire.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.1/dist/latest/bootstrap-autocomplete.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>



	</body>
</html>


