<!DOCTYPE html>
<html style="background-color: #572e5e">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
	</head>
	<body style="margin-left: 100px; margin-right: 100px; padding: 30px 30px 30px 30px; background-color: #e3e2e7; min-height: 800px">
		<div id="Buttons">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			 	<li class="nav-item">
			    	<a class="nav-link active" id="ARMenu-tab" data-toggle="tab" href="#ARMenu" role="tab" aria-controls="AR" aria-selected="true">AR</a>
			 	</li>
			  	<li class="nav-item">
			  		<a class="nav-link" id="CustomerMenu-tab" data-toggle="tab" href="#CustomerMenu" role="tab" aria-controls="Customer" aria-selected="false">Customer</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" id="APMenu-tab" data-toggle="tab" href="#APMenu" role="tab" aria-controls="AP" aria-selected="false">AP</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" id="VendorMenu-tab" data-toggle="tab" href="#VendorMenu" role="tab" aria-controls="Vendor" aria-selected="false">Vendor</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" id="PayrollMenu-tab" data-toggle="tab" href="#PayrollMenu" role="tab" aria-controls="Payroll" aria-selected="false">Payroll</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" id="InventoryMenu-tab" data-toggle="tab" href="#InventoryMenu" role="tab" aria-controls="Inventory" aria-selected="false">Inventory</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" id="GeneralAccountingMenu-tab" data-toggle="tab" href="#GeneralAccountingMenu" role="tab" aria-controls="GeneralAccounting" aria-selected="false">General Accounting</a>
			  	</li>
			</ul>
			<div class="tab-content" id="myTabContent">
			 	<div class="tab-pane fade show active" id="ARMenu" role="tabpanel" aria-labelledby="ARMenu"><br></div>
			 	<div class="tab-pane fade" id="CustomerMenu" role="tabpanel" aria-labelledby="CustomerMenu"><br></div>
			 	<div class="tab-pane fade show" id="APMenu" role="tabpanel" aria-labelledby="APMenu"><br></div>
			 	<div class="tab-pane fade show" id="VendorMenu" role="tabpanel" aria-labelledby="VendorMenu"><br></div>
			 	<div class="tab-pane fade show" id="PayrollMenu" role="tabpanel" aria-labelledby="PayrollMenu"><br></div>
			 	<div class="tab-pane fade show" id="InventoryMenu" role="tabpanel" aria-labelledby="InventoryMenu"><br></div>
			 	<div class="tab-pane fade show" id="GeneralAccountingMenu" role="tabpanel" aria-labelledby="GeneralAccountingMenu"><br></div>
			</div>

		</div><br>

	    <div id="category">

	    </div>

	    <div id="divCategories">

	    </div>

		<form id="formDiv">

			<div id="addedQuestions">
			</div>
			
		<button type="submit" id="submit" class="btn btn-block btn-lg" style="background-color:#572e5e;color:#ffffff;" >Submit</button>

		</form>


		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/scope_of_work.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/js/questionnaire.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


	</body>
</html>
